*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: 'Montserrat', sans-serif;
height: 100vh;
background : radial-gradient(at 0 0, #fff8ce, #ffb61d);
overflow: hidden;
}

@keyframes movimenta{
    from{
        transform: translate(0px 10px);
    }
    to{
        transform: translate(50px,
        
        
        
        
        
        10px);
    }

}

#container{
    width: 90%;
    margin: auto;
}

#container header{
    padding: 50px 0;
}

.principal{
    display: flex;
    gap: 32px;
}

.principal .textos, .principal .animacao{
    width: 50%;
}

.textos h1{
    margin: 55px 0;
    font-size: 66px;
}

.textos h1 strong{
    color: brown;
    text-transform: uppercase;
}

.textos p{
    font-weight: 300;
}

.textos p:nth-child(3){
    text-transform: uppercase;
    margin-bottom: 16px;
}

.inputs input{
    padding: 16px;
    border-radius: 10px;
    border: 1px solid #28293e;
}

.inputs input[type=text]{
    background: none;
    outline: none;
    margin-right: 10px;
}


.inputs input[type=submit]{
background-color: #031d4a;
color: white;
}

.animacao{
    position: relative;
    background-color: aqua;  
}

.animacao img{
    position: absolute;
}

.animacao img:nth-child(1){
    border: 2px solid;
    top: 150px;
    left: -50px;
    transform: rotate(-20deg);
}

.animacao img:nth-child(2){
    left: 350px;
    transform: rotate(15deg);
}

.animacao img:nth-child(3){
   animation: movimenta 2s ease-in-out infinite alternate-reverse;
}


.animacao img:nth-child(4){
    border: 2px solid pink;
    top: 370px;
    left: 50px;
    transform: rotate(-20deg);
    }

.animacao img:nth-child(5){
border: 2px solid pink;
top: -100px;
left: 100px;
transform: rotate(-20deg);
}


.animacao img:nth-child(6){
    border: 2px solid pink;
    top: 270px;
    left: 420px;
    transform: rotate(-20deg);
    }